input[type=checked]#gnbcheck {
  display: none;
  -webkit-appearance: none;
}

input {
  display: none;
}

label {
  display: none;
}

.header-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 90;
}

.header-wrap .header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
  background: white;
}

.header-wrap .header .logo {
  height: 90px;
  line-height: 90px;
  margin-top: 10px;
}

.header-wrap .header a {
  width: 200px;
  height: auto;
}

.header-wrap .header a img {
  width: 200px;
  height: auto;
}

.header-wrap .btn {
  width: 200px;
  text-align: center;
}

.header-wrap button {
  border: none;
  background: #fff;
  width: 125px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #15c5aa;
  border-radius: 5px;
}

.header-wrap button a {
  color: #15c5aa;
}

.header-wrap button:hover {
  background: #15c5aa;
}

.header-wrap button:hover a {
  color: #fff;
}

#nav {
  width: 1000px;
}

#nav #main-nav {
  background-color: #fff;
  height: 90px;
  line-height: 90px;
}

#nav #main-nav ul {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

#nav #main-nav ul li {
  width: 200px;
  text-align: center;
  float: left;
}

#nav #main-nav ul li a {
  color: #222;
  font-size: 18px;
  font-weight: 600;
}

#nav #main-nav ul li a:hover {
  color: #15c5aa;
}

#nav #sub {
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #ccc;
}

#nav #sub #submenu {
  overflow: hidden;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

#nav #sub #submenu .menu {
  width: 200px;
  float: left;
}

#nav #sub #submenu .menu li {
  padding-bottom: 8px;
  line-height: 50px;
}

#nav #sub #submenu .menu li a {
  color: #777;
  font-size: 18px;
}

#nav #sub #submenu .menu li a:hover {
  text-decoration: underline;
  color: #15c5aa;
}
