@charset "UTF-8";
.guide-wrap {
  width: 100%;
}

.guide-main {
  width: 100%;
  height: 450px;
  background: url("../img/sub/guide/WhatsNEW_bg.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

.guide-main .text {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guide-main .text h1 {
  padding-bottom: 20px;
}

.guide-main .text p {
  opacity: 0.7;
}

.up-wrap {
  width: 100%;
  padding: 60px;
}

.up-wrap .update {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.up-wrap .update .text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

.up-wrap .update .text h3 {
  color: #222;
}

.up-wrap .update .text p {
  color: #222;
}

.update-box {
  width: 100%;
  height: 300px;
}

.update-box .box {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

.update-box .box ul {
  display: flex;
  justify-content: space-between;
}

.update-box .box ul li {
  width: 400px;
  height: 160px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.update-box .box ul li .inner {
  display: flex;
  align-items: center;
}

.update-box .box ul li .inner .iconbg {
  width: 160px;
  height: 160px;
  text-align: center;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-box .box ul li .inner .iconbg .icon {
  width: 100px;
  height: 80px;
  margin: 0 auto;
}

.update-box .box ul li .inner .iconbg span {
  color: #fff;
}

.update-box .box ul li .inner .bgone {
  background: #05c3a7;
}

.update-box .box ul li .inner .bgtwo {
  background: #2d68d2;
}

.update-box .box ul li .inner .bgthree {
  background: #06a0fe;
}

.update-box .box ul li .inner .text {
  margin-left: 30px;
}

.update-box .box ul li .inner .text p {
  color: #222;
  margin-bottom: 50px;
}

.update-box .box ul li .inner .text p a {
  color: #222;
}

.update-box .box ul li .inner .text span {
  display: block;
  padding: 0 0 0 25px;
  color: #939598;
  background: url("../img/sub/guide/clock.png") no-repeat center left;
}

.news-wrap {
  width: 1440px;
  margin: 0 auto;
}

.news-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

.news-title h3 {
  color: #222;
}

.news-title p {
  color: #222;
}

.news-text {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 40px;
  margin-bottom: 100px;
}

.news-text .text-left li, .news-text .text-right li {
  height: 50px;
  line-height: 50px;
}

.news-text .text-left a, .news-text .text-right a {
  width: 100%;
}

.news-text .text-left a .fs-18, .news-text .text-right a .fs-18 {
  overflow: hidden;
  display: inline-block;
  width: 80%;
  color: #333;
  letter-spacing: -0.025rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news-text .text-left a .fs-18:hover, .news-text .text-right a .fs-18:hover {
  text-decoration: underline;
}

.news-text .day {
  width: 29%;
  text-align: right;
}

.news-text .left {
  display: flex;
}

.news-text .right {
  display: flex;
}

/*가이드2*/
.help-main {
  width: 100%;
  height: 450px;
  background: url("../img/sub/guide/main_bg_min.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.help-main .help-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.help-list {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.help-list .list {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.help-list .list li {
  width: 25%;
  height: 200px;
  text-align: center;
}

.help-list .list li img {
  width: 100px;
  height: auto;
}

.help-list .list li p {
  color: #333;
}
