@charset "UTF-8";
input[type=checked]#gnbcheck {
  display: none;
  -webkit-appearance: none;
}

input {
  display: none;
}

label {
  display: none;
}

.header-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 90;
}

.header-wrap .header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
  background: white;
}

.header-wrap .header .logo {
  height: 90px;
  line-height: 90px;
  margin-top: 10px;
}

.header-wrap .header a {
  width: 200px;
  height: auto;
}

.header-wrap .header a img {
  width: 200px;
  height: auto;
}

.header-wrap .btn {
  width: 200px;
  text-align: center;
}

.header-wrap button {
  border: none;
  background: #fff;
  width: 125px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #15c5aa;
  border-radius: 5px;
}

.header-wrap button a {
  color: #15c5aa;
}

.header-wrap button:hover {
  background: #15c5aa;
}

.header-wrap button:hover a {
  color: #fff;
}

#nav {
  width: 1000px;
}

#nav #main-nav {
  background-color: #fff;
  height: 90px;
  line-height: 90px;
}

#nav #main-nav ul {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

#nav #main-nav ul li {
  width: 200px;
  text-align: center;
  float: left;
}

#nav #main-nav ul li a {
  color: #222;
  font-size: 18px;
  font-weight: 600;
}

#nav #main-nav ul li a:hover {
  color: #15c5aa;
}

#nav #sub {
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  z-index: 900;
}

#nav #sub #submenu {
  overflow: hidden;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

#nav #sub #submenu .menu {
  width: 200px;
  float: left;
}

#nav #sub #submenu .menu li {
  padding-bottom: 8px;
  line-height: 50px;
}

#nav #sub #submenu .menu li a {
  color: #777;
  font-size: 18px;
}

#nav #sub #submenu .menu li a:hover {
  text-decoration: underline;
  color: #15c5aa;
}

.on {
  display: none;
  width: 200px;
  height: 70px;
  background: url("../img/main/download_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 100%;
}

.on .on-text {
  text-align: center;
  line-height: 70px;
  padding-left: 55px;
}

.on .on-text a {
  color: #fff;
}

.pcnav {
  display: none;
}

.all-wrap {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.mobile {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#first {
  background: url("../img/main/top_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#first .first-wrap {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

#first .first-wrap .first-box {
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#first .first-wrap .first-box .left {
  flex: 50%;
}

#first .first-wrap .first-box .left h1, #first .first-wrap .first-box .left p {
  color: #222;
}

#first .first-wrap .first-box .left span {
  color: #15c5aa;
}

#first .first-wrap .first-box .left .fs-28 {
  padding-top: 20px;
}

#first .first-wrap .first-box .left .btn {
  margin-top: 50px;
}

#first .first-wrap .first-box .left .btn button {
  width: 230px;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 40px;
  background: #15c5aa;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#first .first-wrap .first-box .left .btn button span {
  padding-left: 15px;
  padding-top: 20px;
}

#first .first-wrap .first-box .left .btn button a {
  color: #fff;
}

#first .first-wrap .first-box .right {
  width: 70%;
  height: 70%;
  background: url("../img/main/top_rightimg_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

#second, #third, #fourth {
  background: url("../img/main/tasking_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#second .section-wrap, #third .section-wrap, #fourth .section-wrap {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#second .section-wrap .swiper-container, #third .section-wrap .swiper-container, #fourth .section-wrap .swiper-container {
  width: 100%;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text {
  color: #fff;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text p, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text p, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text p {
  opacity: 0.7;
  font-weight: 500;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text h4, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text h4, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text h4 {
  letter-spacing: 0.06em;
  padding: 20px 0 60px 0px;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text h4 span, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text h4 span, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text h4 span {
  background: #fff;
  color: #15c5aa;
  padding: 5px 5px 0 5px;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button {
  border: none;
  background: none;
  color: #fff;
  font-family: 'GmarketSansMedium';
  position: relative;
  display: inline-block;
  padding: 0 6px 12px 6px;
  cursor: pointer;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button img, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button img, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button img {
  padding-left: 15px;
  padding-top: 13px;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button:before, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button:before, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  -webkit-transform: scaleX(0.3);
  transform: scaleX(0.3);
  opacity: 0;
  transition: all .3s;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button:hover:before, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button:hover:before, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button:hover:before {
  opacity: 1;
  background: -webkit-linear-gradient(130deg, #9ff9d7, #5cffec);
  background: linear-gradient(130deg, #9ff9d7, #5cffec);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
}

#second .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button a, #third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button a, #fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text button a {
  color: #fff;
}

#second .section-wrap .swiper-container .swiper-wrapper .gif img, #third .section-wrap .swiper-container .swiper-wrapper .gif img, #fourth .section-wrap .swiper-container .swiper-wrapper .gif img {
  position: relative;
  border-radius: 15px;
  height: 380px;
  width: auto;
}

#second .section-wrap .swiper-container .swiper-wrapper .gif .icon, #third .section-wrap .swiper-container .swiper-wrapper .gif .icon, #fourth .section-wrap .swiper-container .swiper-wrapper .gif .icon {
  position: absolute;
  right: 0;
  top: 10%;
}

#second .section-wrap .swiper-container .swiper-wrapper .gif .icon img, #third .section-wrap .swiper-container .swiper-wrapper .gif .icon img, #fourth .section-wrap .swiper-container .swiper-wrapper .gif .icon img {
  width: 200px;
  height: 200px;
}

#third {
  background: url("../img/main/security_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#third .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text h4 span {
  color: #058dcc;
}

#fourth {
  background: url("../img/main/interface_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#fourth .section-wrap .swiper-container .swiper-wrapper .swiper-slide .text h4 span {
  color: #454ccd;
}

#five {
  width: 100%;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#five .btn {
  margin-top: 50px;
}

#five .btn button {
  width: 230px;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 40px;
  background: #15c5aa;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#five .btn button span {
  padding-left: 15px;
  padding-top: 20px;
}

#five .btn button a {
  color: #fff;
}

footer {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background: #f9f9f9;
}

footer .footer {
  width: 100%;
}

footer .footer .foot-logo img {
  width: 140px;
  height: auto;
}

footer .footer .foot-info {
  width: 100%;
}

footer .footer nav {
  max-width: 1200px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

footer .footer nav ul {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .footer nav ul a {
  color: #c0c0c0;
}

footer .footer nav ul p {
  padding: 5px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  height: 55px;
  line-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer nav ul p span {
  line-height: 55px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

footer .footer nav ul p span img {
  width: 40px;
  height: 40px;
}

footer .footer nav ul p:hover {
  background: #fff;
}

#main-wrap {
  width: 100%;
  margin: 0 auto;
  background: url("../img/sub/brand/brand_bg.jpg") no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: bottom center;
}

#main-wrap .main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-wrap .main .main-text1 {
  margin-top: 180px;
  text-align: center;
  color: #fff;
}

#main-wrap .main .main-text1 p {
  padding-bottom: 10px;
}

#main-wrap .main .main-img {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#main-wrap .main .main-img .videoWrap {
  position: absolute;
  top: 16.5%;
  left: 22%;
  width: 55%;
}

#main-wrap .main .main-text2 {
  margin-bottom: 100px;
  color: #fff;
}

#sns-wrap {
  background: #fff;
  width: 100%;
  padding: 70px 0;
  text-align: center;
}

#sns-wrap .sns {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#sns-wrap .sns .sns-img {
  margin-bottom: 40px;
}

#sns-wrap .sns .sns-text {
  font-weight: 600;
  color: #222;
}

#sns-wrap .sns .sns-text span {
  color: #15c5aa;
}

#sns-wrap .sns .sns-icon {
  margin-top: 40px;
}

#sns-wrap .sns .sns-icon a {
  padding: 0 8px;
}

#tab-1 {
  width: 100%;
}

#tab-1 .main {
  width: 100%;
  height: 670px;
  background: url("../img/sub/brand/main1/top_tasking_bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

#tab-1 .main .main-text {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tab-1 .main .main-text h1 {
  color: #fff;
  margin-bottom: 30px;
}

#tab-1 .main .main-text p {
  color: #fff;
  margin-bottom: 30px;
}

#tab-1 .main .main-text .btn {
  margin-top: 50px;
}

#tab-1 .main .main-text .btn button {
  width: 230px;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 40px;
  background: #15c5aa;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#tab-1 .main .main-text .btn button span {
  padding-left: 15px;
  padding-top: 20px;
}

#tab-1 .main .main-text .btn button a {
  color: #fff;
}

#section-wrap {
  width: 100%;
}

#section-wrap .inner {
  width: 100%;
  height: 670px;
  background: #ecedf1;
}

.content, .content3, .content4, .content5 {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .text, .content3 .text, .content4 .text, .content5 .text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.content .text h3, .content3 .text h3, .content4 .text h3, .content5 .text h3 {
  color: #222;
  position: relative;
  padding-left: 80px;
  margin-bottom: 20px;
}

.content .text h3:before, .content3 .text h3:before, .content4 .text h3:before, .content5 .text h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../img/sub/brand/main1/icon_why_tab1_05.png");
  background-position: center center;
  background-size: cover;
}

.content .text p, .content3 .text p, .content4 .text p, .content5 .text p {
  color: #4a4a4a;
  margin-bottom: 30px;
}

.content .text a, .content3 .text a, .content4 .text a, .content5 .text a {
  display: inline-block;
  color: #2d68d2;
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;
}

.content .text a:before, .content3 .text a:before, .content4 .text a:before, .content5 .text a:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background: url("../img/sub/brand/main1/icon_function_detailgo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content .text a:hover, .content3 .text a:hover, .content4 .text a:hover, .content5 .text a:hover {
  text-decoration: underline;
}

.content .text .icon-wrap, .content3 .text .icon-wrap, .content4 .text .icon-wrap, .content5 .text .icon-wrap {
  float: left;
}

.content .text .icon-wrap .icon1, .content3 .text .icon-wrap .icon1, .content4 .text .icon-wrap .icon1, .content5 .text .icon-wrap .icon1 {
  display: inline-block;
  width: 120px;
  height: 76px;
  background: url("../img/sub/brand/main1/icon_pc.png") no-repeat;
  background-position: center center;
  background-size: 100%;
  margin-right: 10px;
}

.content .text .icon-wrap .icon2, .content3 .text .icon-wrap .icon2, .content4 .text .icon-wrap .icon2, .content5 .text .icon-wrap .icon2 {
  display: inline-block;
  width: 120px;
  height: 76px;
  background: url("../img/sub/brand/main1/icon_m.png") no-repeat;
  background-position: center center;
  background-size: 100%;
}

.img {
  width: 50%;
}

.img img {
  border-radius: 10px;
  height: 350px;
  width: auto;
}

.inner2 {
  background: #fff;
  height: 670px;
}

.inner2 .content {
  flex-direction: row-reverse;
}

.inner2 .content .text {
  margin-left: 100px;
}

.inner2 .content .text h3:before {
  background: url("../img/sub/brand/main1/icon_why_tab1_01.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

.inner2 .content .text a {
  margin-bottom: 20px;
}

.content4 {
  flex-direction: row-reverse;
}

.content4 .text {
  margin-left: 100px;
}

.content4 .text h3:before {
  background: url("../img/sub/brand/main1/icon_why_tab1_03.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

.content4 .text a {
  margin-bottom: 20px;
}

.inner .content3 .text h3:before {
  background: url("../img/sub/brand/main1/icon_why_tab1_02.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

.inner .content3 .text a {
  margin-bottom: 20px;
}

.inner .content5 .text h3:before {
  background: url("../img/sub/brand/main1/icon_why_tab1_04.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

.inner .content5 .text a {
  margin-bottom: 20px;
}

#tab-2 {
  width: 100%;
}

#tab-2 .main {
  width: 100%;
  height: 670px;
  background: url("../img/sub/brand/main2/top_security_bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

#tab-2 .main .main-text {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tab-2 .main .main-text h1 {
  color: #fff;
  margin-bottom: 30px;
}

#tab-2 .main .main-text p {
  color: #fff;
  margin-bottom: 30px;
}

#tab-2 .main .main-text .btn {
  margin-top: 50px;
}

#tab-2 .main .main-text .btn button {
  width: 230px;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 40px;
  background: #15c5aa;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#tab-2 .main .main-text .btn button span {
  padding-left: 15px;
  padding-top: 20px;
}

#tab-2 .main .main-text .btn button a {
  color: #fff;
}

#tab-2 .inner {
  background: #fff;
}

#tab-2 .inner .content .text h3:before {
  background: url("../img/sub/brand/main2/icon_why_tab2_01.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

#tab-2 .inner .content .img img {
  width: auto;
  height: 280px;
}

#tab-2 .inner2 {
  background: #ecedf1;
  height: 670px;
}

#tab-2 .inner2 .content {
  flex-direction: row-reverse;
}

#tab-2 .inner2 .content .text {
  margin-left: 120px;
}

#tab-2 .inner2 .content .text h3:before {
  background: url("../img/sub/brand/main2/icon_why_tab2_02.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

#tab-2 .inner2 .content .text a {
  margin-bottom: 20px;
}

#tab-2 .inner2 .content .img img {
  width: 100%;
  height: 280px;
}

#tab-2 .content3 .text h3:before {
  background: url("../img/sub/brand/main2/icon_why_tab2_03.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

#tab-2 .content3 .img img {
  width: 100%;
  height: 280px;
}

#tab-2 .content4 .text h3:before {
  background: url("../img/sub/brand/main2/icon_why_tab2_04.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

#tab-2 .content4 .img img {
  width: 100%;
  height: 280px;
}

#tab-3 {
  width: 100%;
}

#tab-3 .main {
  width: 100%;
  height: 670px;
  background: url("../img/sub/brand/main3/top_custom_bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

#tab-3 .main .main-text {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tab-3 .main .main-text h1 {
  color: #fff;
  margin-bottom: 30px;
}

#tab-3 .main .main-text p {
  color: #fff;
  margin-bottom: 30px;
}

#tab-3 .main .main-text .btn {
  margin-top: 50px;
}

#tab-3 .main .main-text .btn button {
  width: 230px;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 40px;
  background: #15c5aa;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#tab-3 .main .main-text .btn button span {
  padding-left: 15px;
  padding-top: 20px;
}

#tab-3 .main .main-text .btn button a {
  color: #fff;
}

#tab-3 .inner .content .text h3:before {
  background: url("../img/sub/brand/main3/icon_why_tab3_01.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

#tab-3 .inner2 .content .text h3:before {
  background: url("../img/sub/brand/main3/icon_why_tab3_02.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

#tab-3 .content3 .text h3:before {
  background: url("../img/sub/brand/main3/icon_why_tab3_03.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

/*탭 메뉴만들기*/
.container {
  width: 100%;
  position: absolute;
  margin-top: 90px;
}

.container .tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  line-height: 60px;
  background: #272F5B;
}

.container .tabs li {
  background: none;
  color: #888;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.container .tabs li.current {
  color: white;
}

.container .tab-content {
  display: none;
}

.container .tab-content.current {
  display: block;
}

/*로딩페이지*/
.loading-logo {
  position: fixed;
  height: 90px;
  line-height: 90px;
  margin-left: 100px;
}

.loading-logo img {
  width: 200px;
  height: auto;
}

#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(154deg, #5adcf5, #d3f6ff);
  background: linear-gradient(154deg, #5adcf5, #d3f6ff);
}

#wrap #spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
}

#wrap #spinner p {
  z-index: 100;
}

#wrap #spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 100%;
  opacity: 0;
}

#wrap #spinner div:nth-of-type(1) {
  animation: spinner1 3s ease-out 0s infinite;
}

#wrap #spinner div:nth-of-type(2) {
  animation: spinner2 3s ease-out 1s infinite;
}

#wrap #spinner div:nth-of-type(3) {
  animation: spinner3 3s ease-out 2s infinite;
}

@keyframes spinner1 {
  from {
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes spinner2 {
  from {
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes spinner3 {
  from {
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

.guide-wrap {
  width: 100%;
}

.guide-main {
  width: 100%;
  height: 450px;
  background: url("../img/sub/guide/WhatsNEW_bg.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

.guide-main .text {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guide-main .text h1 {
  padding-bottom: 20px;
}

.guide-main .text p {
  opacity: 0.7;
}

.up-wrap {
  width: 100%;
  padding: 60px;
}

.up-wrap .update {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.up-wrap .update .text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

.up-wrap .update .text h3 {
  color: #222;
}

.up-wrap .update .text p {
  color: #222;
}

.update-box {
  width: 100%;
  height: 300px;
}

.update-box .box {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

.update-box .box ul {
  display: flex;
  justify-content: space-between;
}

.update-box .box ul li {
  width: 400px;
  height: 160px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.update-box .box ul li .inner {
  display: flex;
  align-items: center;
}

.update-box .box ul li .inner .iconbg {
  width: 160px;
  height: 160px;
  text-align: center;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-box .box ul li .inner .iconbg .icon {
  width: 100px;
  height: 80px;
  margin: 0 auto;
}

.update-box .box ul li .inner .iconbg span {
  color: #fff;
}

.update-box .box ul li .inner .bgone {
  background: #05c3a7;
}

.update-box .box ul li .inner .bgtwo {
  background: #2d68d2;
}

.update-box .box ul li .inner .bgthree {
  background: #06a0fe;
}

.update-box .box ul li .inner .text {
  margin-left: 30px;
}

.update-box .box ul li .inner .text p {
  color: #222;
  margin-bottom: 50px;
}

.update-box .box ul li .inner .text p a {
  color: #222;
}

.update-box .box ul li .inner .text span {
  display: block;
  padding: 0 0 0 25px;
  color: #939598;
  background: url("../img/sub/guide/clock.png") no-repeat center left;
}

.news-wrap {
  width: 1440px;
  margin: 0 auto;
}

.news-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

.news-title h3 {
  color: #222;
}

.news-title p {
  color: #222;
}

.news-text {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 40px;
  margin-bottom: 100px;
}

.news-text .text-left li, .news-text .text-right li {
  height: 50px;
  line-height: 50px;
}

.news-text .text-left a, .news-text .text-right a {
  width: 100%;
}

.news-text .text-left a .fs-18, .news-text .text-right a .fs-18 {
  overflow: hidden;
  display: inline-block;
  width: 80%;
  color: #333;
  letter-spacing: -0.025rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news-text .text-left a .fs-18:hover, .news-text .text-right a .fs-18:hover {
  text-decoration: underline;
}

.news-text .day {
  width: 29%;
  text-align: right;
}

.news-text .left {
  display: flex;
}

.news-text .right {
  display: flex;
}

/*가이드2*/
.help-main {
  width: 100%;
  height: 450px;
  background: url("../img/sub/guide/main_bg_min.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.help-main .help-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.help-list {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  background: #fff;
}

.help-list .list {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.help-list .list li {
  width: 25%;
  height: 200px;
  text-align: center;
}

.help-list .list li img {
  width: 100px;
  height: auto;
}

.help-list .list li p {
  color: #333;
}

.help-list .list li p:hover {
  color: #15c5aa;
}

.help-qna {
  width: 100%;
  padding: 60px;
  background: #f8f9fa;
}

.help-qna h3 {
  text-align: center;
  color: #222;
  margin-bottom: 60px;
}

.help-qna .qna-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

.help-qna .qna-wrap .left {
  padding-right: 50px;
  border-right: 1px solid #ddd;
}

.help-qna li span {
  color: #15c5aa;
  padding-right: 20px;
}

.help-qna li a {
  font-family: 'GmarketSansLight';
  font-weight: bold;
  color: #333;
}

.help-qna li a:hover {
  text-decoration: underline;
}

.more-wrap {
  width: 100%;
  height: 500px;
  background: #fff;
}

.more-wrap .more {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-wrap .more .img {
  display: flex;
  justify-content: center;
}

.more-wrap .more .img img {
  width: 130px;
  height: auto;
}

.more-wrap .more .text {
  width: 600px;
}

.more-wrap .more .text .fs-24 {
  color: #333;
  margin-bottom: 20px;
}

.more-wrap .more .text .fs-18 {
  margin-bottom: 20px;
}

.more-wrap .more .text button {
  border: none;
  background: #15c5aa;
  width: 120px;
  height: 35px;
  border-radius: 25px;
}

.more-wrap .more .text button a {
  color: #fff;
}
