.header-wrap {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 90;

  .header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    background: white;

    .logo{
      position: absolute;
      height: 90px;
      line-height: 90px;
      margin-top: 10px;
      left: 10%;
      z-index: 100;
    }

    a {
      width: 170px;
      height: auto;

      img {
        max-width: 170px;
        width: 100%;
        height: auto;
      }
    }
  }
  .btn{
    position: absolute;
    right: 10%;
    text-align: center;
  }
  button{
    border: none;
    background: #fff;
    width: 125px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    border: 1px solid $maincolor;
    border-radius: 5px;
    a{
      color: $maincolor;
    }
    &:hover{
      background: $maincolor;
      a{
        color: #fff;
      }
    }
  }
}

#nav{
  width: 100%;
  position: absolute;
  padding-left: 60px;
  #main-nav{
    background-color: #fff;
    height: 90px;
    line-height: 90px;
    ul{
      overflow: hidden;
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
      li{
        max-width: 140px;
        width: 100%;
        text-align: center;
        float: left;
        a{
          color: #222;
          &:hover{
            color: $maincolor;
          }
        }
      }
    }
  }
  #sub{
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    z-index: 900;
    padding-left: 60px;
    #submenu{
      overflow: hidden;
      max-width: 700px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      justify-content: space-around;
      .menu{
        max-width: 140px;
        width: 100%;
        float: left;
        li{
          padding-bottom: 8px;
          line-height: 50px;
          a{
            color: #777;
            &:hover{
              text-decoration: underline;
              color: $maincolor;
            }
          }
        }
      }
    }
  }
}
/*모바일*/
.mheader-wrap{
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 90;
  .mheader{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    margin-top: 10px;
    .logo{
      margin-left: 50px;
      img{
        max-width: 150px;
        width: 100%;
        height: auto;
      }
    }
    .menu_btn{
      text-align: right;
      padding-right: 50px;
      img{
        width: 30px;
        height: 30px;
      }
    }
  }
  .menu_bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
    top: 0;
    display: none;
  }
  .sidebar_menu{
    display: none;
    width: 50%;
    height: 100%;
    background: #DCF4FF;
    position: absolute;
    top: 0;
    right: -50%;
    .close_btn{
      background: #DCF4FF;
      padding-left: 20px;
      padding-top: 10px;
      img{
        width: 25px;
        height: 25px;
      }
      & > a{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .menu_wrap{
      background: #DCF4FF;
      height: 100vh;
      padding: 0px 50px;
      li{
        height: 60px;
        line-height: 60px;
        a{
          color: #333;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .menu-img{
        width: 100%;
        margin-top: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .m-menubtn{
          border: none;
          margin-top: 20px;
          width: 150px;
          height: 50px;
          background: none;
          border: 1.5px solid $maincolor;
          border-radius: 5px;
          color: $maincolor;
          font-family: $fontMid;
          &:hover{
            color: #fff;
            background: $maincolor;
          }
        }
      }
      .more1,.more2,.more3,.more4,.more5{
        display: table;
        width: 100%;
        border-bottom: 1px solid #b0d1fa;
        ul{
          text-align: left;
          li{
            height: 30px;
            line-height: 30px;
            .fs-16{
              color: #666;
              height: 30px;
            }
            &:last-child{
              margin-bottom: 15px;
            }
          }
        }
        button{
          border: none;
          background: none;
          display: inline-block;
          position: absolute;
          right: 10%;
          margin-top: 15px;
          cursor: pointer;
          transition: transform .3s;
          img{
            width: 20px;
            height: auto;
          }
        }
      }
    }
  }
}

.pcnav{
  display: block;
}

.mobile{
  display: none;
}

@media screen and ( max-width: 1000px ) {
  .pc{
    display: none;
  }
  .mobile{
    display: block;
  }
}

@media screen and ( max-width: 580px ) {
  .mheader-wrap{
    .sidebar_menu{
      display: none;
      width: 70%;
      height: 100%;
      background: #DCF4FF;
      position: absolute;
      top: 0;
      right: -70%;
    }
  }
}
