@media screen and ( max-width: 1200px ) {
  .header-wrap {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 90;

    .header {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 90px;
      line-height: 90px;
      margin: 0 auto;
      background: white;

      .logo{
        position: absolute;
        height: 90px;
        line-height: 90px;
        margin-top: 10px;
        left: 2%;
        z-index: 100;
      }

      a {
        width: 170px;
        height: auto;

        img {
          max-width: 170px;
          width: 100%;
          height: auto;
        }
      }
    }
    .btn{
      position: absolute;
      right: 2%;
      text-align: center;
    }
    button{
      border: none;
      background: #fff;
      width: 125px;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
      border: 1px solid $maincolor;
      border-radius: 5px;
      a{
        color: $maincolor;
      }
      &:hover{
        background: $maincolor;
        a{
          color: #fff;
        }
      }
    }
  }
  #first{
    .first-wrap{
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      background-position: right center;
      background-size: 60% auto;
      .first-box{
        max-width: 1200px;
      }
    }
  }
  #second, #third, #fourth{
    .section-wrap{
      max-width: 1200px;
      -webkit-box-lines: single;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 30px;
      .swiper-container{
        .swiper-wrapper{
          .swiper-slide{
            .text{
              width: 50%;
            }
            .gif{
              img{
                width: 100%;
                height: auto;
              }
              .icon{
                img{
                  width: 130px;
                  height: 130px;
                }
              }
            }
          }
        }
      }
    }
  }
  #five{
    .five-gif{
      img{
        width: 700px;
        height: auto;
      }
    }
  }
  #tab-1 {
    max-width: 1200px;
    width: 100%;
    .main {
      max-width: 1200px;
      width: 100%;
      height: 600px;
      .main-text {
        padding: 30px;
        max-width: 1000px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
  #section-wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .inner {
      max-width: 1200px;
      width: 100%;
      height: 670px;
      margin: 0 auto;
      background: #ecedf1;
    }
  }
  .content,
  .content3,
  .content4,
  .content5 {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .text {
      max-width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 50px;
      .icon-wrap {
        float: left;
      }
    }
  }
  .img {
    max-width: 500px;
    width: 100%;
    height: auto;
    img {
      max-width: 500px;
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .inner2 {
    background: #fff;
    height: 670px;
    .content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      .text{
        margin-left: 50px;
      }
    }
  }
  .content4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }


  #tab-2 {
    max-width: 1200px;
    width: 100%;
    .main {
      max-width: 1200px;
      width: 100%;
      height: 600px;
      .main-text {
        padding: 30px;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
    .inner2 {
      background: #ecedf1;
      height: 670px;
      .content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
      }
    }
  }

  #tab-3 {
    max-width: 1200px;
    width: 100%;
    .main {
      max-width: 1200px;
      width: 100%;
      height: 600px;
      .main-text {
        padding: 30px;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
  .guide-main{
    max-width: 1200px;
    width: 100%;
    height: 350px;
    .text{
      max-width: 1200px;
      height: 350px;
    }
  }
  .up-wrap{
    .update{
     max-width: 1200px;
    }
  }
  .update-box{
    max-width: 1200px;
    width: 100%;
    .box{
      max-width: 1200px;
      width: 100%;
      height: 100%;
    }
  }
  .news-wrap{
    margin-top: 150px;
    max-width: 1200px;
    width: 100%;
  }
  .news-title{
    max-width: 1200px;
    width: 100%
  }
  .help-qna{
    .qna-wrap{
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      .left{
        border-right: 0;
      }
    }
  }
  .space-wrap{
    .space-box{
      max-width: 900px;
    }
  }
}

@media screen and ( max-width: 980px ) {
  .pc{ display: none;}
  .mobile{ display: block; }
  .mheader-wrap{
    .mheader{
      .logo{
        img{
          max-width: 120px;
          height: auto;
        }
      }
    }
  }
  .first{
    width: 100%;
    height: 100vh;
    background: url('../img/main/top_bg_m.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .first-wrap{
      max-width: 850px;
      padding: 10px;
      height: 100%;
      margin: 0 auto;
      background: url('../img/main/top_rightimg_bg_m.png');
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: contain;
      .first-box{
        height: 60%;
        .left{
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding: 30px;
          h1, p{
            color: #222;
          }
          span{
            color: $maincolor;
          }
          .fs-28{
            padding-top: 20px;
          }
          .btn{
            margin-top: 50px;
            button{
              width: 200px;
              height: 60px;
              line-height: 60px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              border: none;
              border-radius: 40px;
              background: $maincolor;
              text-align: center;
              color: #fff;
              font-weight: 600;
              cursor: pointer;
              span{
                padding-left: 15px;
                padding-top: 20px;
              }
              a{
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  #second, #third, #fourth{
    .section-wrap{
      max-width: 900px;
      -webkit-box-lines: single;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 30px;
      .swiper-container{
        .swiper-wrapper{
          .swiper-slide{
            width: 100%;
            height: 100%;
            -webkit-box-orient: vertical;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-right: 0;
            .text{
              width: 50%;
              margin: 0;
              h4{
                padding-bottom: 30px;
                line-height: 45px;
              }
            }
            .gif{
              margin-left: 50px;
              img{
                width: 100%;
                height: auto;
              }
              .icon{
                img{
                  width: 150px;
                  height: 150px;
                }
              }
            }
          }
        }
      }
    }
  }
  #five{
    .five-gif{
      img{
        width: 600px;
        height: auto;
      }
    }
    .btn{
      margin-top: 50px;
      button{
        width: 200px;
        height: 60px;
        line-height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: none;
        border-radius: 40px;
        background: $maincolor;
        text-align: center;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        span{
          padding-left: 15px;
          padding-top: 20px;
        }
        a{
          color: #fff;
        }
      }
    }
  }
  #main-wrap{
    .main{
      width: 100%;
      max-width: 980px;
      margin: 0 auto;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      .main-text1{
        margin-top: 180px;
        text-align: center;
        color: #fff;
        p{
          padding-bottom: 10px;
        }
      }
      .main-img{
        max-width: 980px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        img{
          max-width: 980px;
          width: 100%;
        }
        .videoWrap{
          position: absolute;
          top: 16.5%;
          left: 22%;
          width: 55%;
        }
      }
      .main-text2{
        margin-bottom: 100px;
        color: #fff;
      }
    }
  }

  #sns-wrap{
    background: #fff;
    width: 100%;
    padding: 70px 0;
    text-align: center;
    .sns{
      max-width: 980px;
      width: 100%;
      margin: 0 auto;
      .sns-img{
        margin-bottom: 40px;
      }
      .sns-text{
        font-weight: 600;
        color: #222;
        span{
          color: $maincolor;
        }
      }
      .sns-icon{
        margin-top: 40px;
        a{
          padding: 0 8px;
          img{
            max-width: 55px;
            width: 100%;
          }
        }
      }
    }
  }
  #tab-1 {
    max-width: 980px;
    width: 100%;
    .main {
      max-width: 980px;
      width: 100%;
      height: 500px;
      .main-text {
        max-width: 900px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .btn {
          margin-top: 50px;
          button {
            width: 230px;
            height: 70px;
            line-height: 70px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
  #section-wrap {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    .inner {
      max-width: 980px;
      width: 100%;
      height: 670px;
      margin: 0 auto;
      background: #ecedf1;
    }
  }
  .content,
  .content3,
  .content4,
  .content5 {
    width: 900px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .text {
      max-width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      white-space: nowrap;
      h3 {
        color: #222;
        position: relative;
        padding-left: 60px;
        margin-bottom: 20px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          max-width: 40px;
          width: 100%;
          max-height: 40px;
          height: 100%;
          background-image: url("../img/sub/brand/main1/icon_why_tab1_05.png");
          background-position: center center;
          background-size: cover;
        }
      }
    }
  }
  .img {
    max-width: 500px;
    width: 100%;
    height: auto;
    img {
      max-width: 500px;
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .inner2 {
    background: #fff;
    height: 670px;
    .content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      .text{
        margin-left: 0;
      }
    }
  }
  .content4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  #tab-2 {
    max-width: 1200px;
    width: 100%;
    .main {
      max-width: 1200px;
      width: 100%;
      height: 500px;
      .main-text {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .btn {
          margin-top: 50px;
          button {
            width: 230px;
            height: 70px;
            line-height: 70px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
          }
        }
      }
    }
    .inner {
      background: #fff;
      .content {
        .text {
          margin-left: 0;
          h3 {
          }
        }
        .img {
          img {
            width: auto;
            height: 280px;
          }
        }
      }
    }

    .inner2 {
      background: #ecedf1;
      height: 670px;
      .content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        .text {
          margin-left: 0;
          a {
            margin-bottom: 20px;
          }
        }
        .img {
          img {
            width: 100%;
            height: 280px;
          }
        }
      }
    }
    .content3 {
      .text {
      }
      .img {
        img {
          width: 100%;
          height: 280px;
        }
      }
    }
    .content4 {
      .text {
      }
      .img {
        img {
          width: 100%;
          height: 280px;
        }
      }
    }
  }

  #tab-3 {
    max-width: 1200px;
    width: 100%;
    .main {
      max-width: 1200px;
      width: 100%;
      height: 500px;
      .main-text {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .btn {
          margin-top: 50px;
          button {
            width: 230px;
            height: 70px;
            line-height: 70px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .guide-wrap{
    max-width: 980px;
    width: 100%;
  }
  .guide-main{
    max-width: 980px;
    width: 100%;
    height: 100%;
    background: url('../img/sub/guide/Whats_bg_m.jpg') no-repeat;
    background-size: cover;
  }
  .news-wrap{
    margin-bottom: 100px;
  }
  .news-text{
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .up-wrap{
    min-height: 700px;
  }
  .help-main{
    background-size: auto;
  }
  .help-qna{
    .qna-wrap{
      max-width: 980px;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  .footer-wrap{
    .foot2-wrap{
      max-width: 980px;
      border-top: 0;
      padding: 0;
      margin: 0;
      .foot-info2{
        max-width: 980px;
        width: 100%;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .info2{
          padding-bottom: 20px;
          li{
            padding-right: 30px;
            &:last-child{
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and ( max-width: 920px ) {
  .space-wrap{
    .space-box{
      max-width: 600px;
    }
  }
}

@media screen and ( max-width: 770px ) {
  .first{
    .first-wrap{
      max-width: 700px;
      padding: 20px;
      height: 100%;
      margin: 0 auto;
      .first-box{
        height: 60%;
        .left{
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          h1, p{
            color: #222;
          }
          span{
            color: $maincolor;
          }
          .fs-28{
            padding-top: 20px;
          }
          .btn{
            margin-top: 50px;
            button{
              width: 180px;
              height: 60px;
              line-height: 60px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              border: none;
              border-radius: 40px;
              background: $maincolor;
              text-align: center;
              color: #fff;
              font-weight: 600;
              cursor: pointer;
              span{
                padding-left: 15px;
                padding-top: 20px;
              }
              a{
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  #second, #third, #fourth{
    .section-wrap{
      max-width: 700px;
      -webkit-box-lines: single;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 30px;
      margin: 0;
      .swiper-container{
        .swiper-wrapper{
          padding: 30px;
          .swiper-slide{
            .text{
              width: 50%;
            }
            .gif{
              margin: 0;
              img{
                width: 100%;
                height: auto;
              }
              .icon{
                img{
                  width: 120px;
                  height: 120px;
                }
              }
            }
          }
        }
      }
    }
  }
  #five{
    .five-gif{
      img{
        width: 500px;
        height: auto;
      }
    }
    .btn{
      margin-top: 50px;
      button{
        width: 180px;
        height: 60px;
        line-height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: none;
        border-radius: 40px;
        background: $maincolor;
        text-align: center;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        span{
          padding-left: 15px;
          padding-top: 20px;
        }
        a{
          color: #fff;
        }
      }
    }
  }
  #tab-1 {
    max-width: 770px;
    width: 100%;
    .main {
      max-width: 770px;
      width: 100%;
      height: 400px;
      .main-text {
        max-width: 700px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .btn {
          margin-top: 50px;
          button {
            width: 180px;
            height: 50px;
            line-height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
  #section-wrap {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    .inner {
      max-width: 770px;
      width: 100%;
      margin: 0 auto;
      background: #ecedf1;
    }
  }
  .content,
  .content3,
  .content4,
  .content5 {
    width: 700px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .text {
      max-width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      white-space: nowrap;
      margin-left: 0;
      h3 {
        color: #222;
        position: relative;
        padding-left: 60px;
        margin-bottom: 20px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          max-width: 40px;
          width: 100%;
          max-height: 40px;
          height: 100%;
          background-image: url("../img/sub/brand/main1/icon_why_tab1_05.png");
          background-position: center center;
          background-size: cover;
        }
      }
    }
  }
  .img {
    max-width: 500px;
    width: 100%;
    height: auto;
    img {
      max-width: 500px;
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .inner2 {
    background: #fff;
    height: 670px;
    .content {
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      .text{
      margin-left: 0;
      }
    }
  }
  .content4 {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .inner {
    .content3 {
      .text {
      }
    }
  }
  .inner {
    .content5 {
      .text {
      }
    }
  }

  #tab-2 {
    max-width: 770px;
    width: 100%;
    .main {
      max-width: 770px;
      width: 100%;
      height: 400px;
      .main-text {
        width: 700px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        .btn {
          margin-top: 50px;
          button {
            width: 180px;
            height: 50px;
            line-height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
          }
        }
      }
    }
    .inner {
      background: #fff;
      .content {
        .text {
          h3 {
          }
        }
        .img {
          img {
            width: auto;
            height: 280px;
          }
        }
      }
    }

    .inner2 {
      background: #ecedf1;
      height: 670px;
      .content {
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        .text {
          margin-left: 0;
          a {
            margin-bottom: 20px;
          }
        }
        .img {
          img {
            width: 100%;
            height: 280px;
          }
        }
      }
    }
    .content3 {
      .text {
      }
      .img {
        img {
          width: 100%;
          height: 280px;
        }
      }
    }
    .content4 {
      .text {
      }
      .img {
        img {
          width: 100%;
          height: 280px;
        }
      }
    }
  }

  #tab-3 {
    max-width: 770px;
    width: 100%;
    .main {
      max-width: 770px;
      width: 100%;
      height: 400px;
      .main-text {
        width: 700px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .btn {
          margin-top: 50px;
          button {
            width: 180px;
            height: 50px;
            line-height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .guide-wrap{
    max-width: 770px;
    width: 100%;
  }
  .guide-main{
    max-width: 770px;
    width: 100%;
    background-position: left;
    .text{
      max-width: 700px;
    }
  }
  .up-wrap{
    max-width: 770px;
    width: 100%;
    min-height: 700px;
    .update{
      max-width: 770px;
      width: 100%;
    }
  }
  .update-box{
    max-width: 770px;
    width: 100%;
    .box{
      max-width: 770px;
      ul{
        max-width: 770px;
        justify-content: center;
      }
    }
  }
  .help-qna{
    .qna-wrap{
      max-width: 700px;
    }
  }
  .help-list{
    .list{
      max-width: 690px;
    }
  }
  .news-wrap{
    max-width: 770px;
  }
  .news-title{
    max-width: 770px;
  }
  .more-wrap{
    .more{
      max-width: 770px;
      width: 100%;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      .img{

      }
    }
    .text{
      text-align: center;
      margin-top: 50px;
    }
  }
  .space-wrap{
    .space-cont{
      .content{
        height: auto;
        .inner{
          -webkit-box-orient: vertical;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          padding: 50px;
        }
      }
    }
  }
  .space-wrap{
    .space-box{
      max-width: 600px;
    }
  }
  .footer-wrap{
    .foot2-wrap{
      .foot-info2{
        .info2{
          li{
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 620px ) {
  .space-wrap{
    .space-box{
      max-width: 300px;
    }
  }
}

@media screen and ( max-width: 520px ) {
  .first{
    .first-wrap{
      max-width: 500px;
      padding: 30px;
      height: 100%;
      margin: 0 auto;
      .first-box{
        height: 60%;
        .left{
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          h1, p{
            color: #222;
          }
          span{
            color: $maincolor;
          }
          .fs-28{
            padding-top: 20px;
          }
          .btn{
            margin-top: 50px;
            button{
              width: 180px;
              height: 50px;
              line-height: 50px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              border: none;
              border-radius: 40px;
              background: $maincolor;
              text-align: center;
              color: #fff;
              font-weight: 600;
              cursor: pointer;
              span{
                padding-left: 15px;
                padding-top: 20px;
                img{
                  width: 25px;
                  height: 25px;
                }
              }
              a{
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  #second, #third, #fourth{
    .section-wrap{
      max-width: 500px;
      -webkit-box-lines: single;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 30px;
      .swiper-container{
        .swiper-wrapper{
          .swiper-slide{
            -webkit-box-orient: vertical;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            .text{
              width: 50%;
              max-width: 450px;
            }
            .gif{
              margin-right: 50px;
              margin-left: 0;
              padding: 20px;
              img{
                width: 100%;
                height: auto;
              }
              .icon{
                img{
                  width: 100px;
                  height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
  #five{
    .five-gif{
      img{
        max-width: 350px;
        width: 100%;
        height: auto;
      }
    }
    .btn{
      margin-top: 50px;
      button{
        width: 180px;
        height: 50px;
        line-height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: none;
        border-radius: 40px;
        background: $maincolor;
        text-align: center;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        span{
          padding-left: 15px;
          padding-top: 20px;
          img{
            width: 25px;
            height: 25px;
          }
        }
        a{
          color: #fff;
        }
      }
    }
  }
  #sns-wrap{
    .sns{
      .sns-icon{
        a{
          img{
            max-width: 40px;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  #tab-1 {
    max-width: 520px;
    width: 100%;
    .main {
      max-width: 520px;
      width: 100%;
      height: 350px;
      .main-text {
        max-width: 400px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        p{
          margin: 0;
        }
        .btn {
          margin-top: 20px;
          button {
            width: 180px;
            height: 50px;
            line-height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
  #section-wrap {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    .inner {
      max-width: 520px;
      width: 100%;
      margin: 0 auto;
      background: #ecedf1;
    }
  }
  .content,
  .content3,
  .content4,
  .content5 {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    .text {
      max-width: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      white-space: nowrap;
      margin-left: 0;
      h3 {
        color: #222;
        position: relative;
        padding-left: 60px;
        margin-bottom: 20px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          max-width: 40px;
          width: 100%;
          max-height: 40px;
          height: 100%;
          background-image: url("../img/sub/brand/main1/icon_why_tab1_05.png");
          background-position: center center;
          background-size: cover;
        }
      }
    }
  }
  .img {
    max-width: 450px;
    width: 100%;
    height: auto;
    img {
      max-width: 350px;
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .inner2 {
    background: #fff;
    height: 670px;
    .content {
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      .text{
      margin-left: 0;
      }
    }
  }
  .content4 {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .inner {
    .content3 {
      .text {
      }
    }
  }
  .inner {
    .content5 {
      .text {
      }
    }
  }

  #tab-2 {
    max-width: 520px;
    width: 100%;
    .main {
      max-width: 520px;
      width: 100%;
      height: 350px;
      .main-text {
        width: 400px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        p{
          margin: 0;
        }
        .btn {
          margin-top: 20px;
          button {
            width: 180px;
            height: 50px;
            line-height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
          }
        }
      }
    }
    .inner {
      background: #fff;
      .content {
        .text {
          h3 {
          }
        }
        .img {
          img {
            width: auto;
            height: auto;
          }
        }
      }
    }

    .inner2 {
      background: #ecedf1;
      height: 670px;
      .content {
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        .text {
          margin-left: 0;
          a {
            margin-bottom: 20px;
          }
        }
        .img {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .content3 {
      .text {
      }
      .img {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .content4 {
      .text {
      }
      .img {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  #tab-3 {
    max-width: 520px;
    width: 100%;
    .main {
      max-width: 520px;
      width: 100%;
      height: 350px;
      .main-text {
        width: 400px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        p{
          margin: 0;
        }
        .btn {
          margin-top: 20px;
          button {
            width: 180px;
            height: 50px;
            line-height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: none;
            border-radius: 40px;
            background: $maincolor;
            text-align: center;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            span {
              padding-left: 15px;
              padding-top: 20px;
            }
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .guide-main{
    background-size: contain;
  }
  .help-qna{
    .qna-wrap{
      max-width: 400px;
    }
  }
  .help-main{
    background-position: left center;
  }
  .help-list{
    .list{
      max-width: 380px;
      li{
        min-width: 190px;
      }
    }
  }
  .help-qna{
    padding: 30px;
    .qna-wrap{
      max-width: 380px;
      .left{
        padding-right: 0;
        max-width: 380px;
      }
      .right{
        max-width: 380px;
      }
    }
  }
  .more-wrap{
    .more{
      .text{
        width: 350px;
      }
    }
  }
  .update-box{
    max-width: 400px;
    .box{
      ul{
        li{
          max-width: 380px;
          height: 130px;
          .inner{
            .iconbg{
              width: 130px;
              height: 130px;
            }
          }
        }
      }
    }
  }
  .news-wrap{
    padding: 30px;
    max-width: 400px;
    .text-right{
      max-width: 350px;
    }
  }

  .space-wrap{
    .space-cont{
      .content{
        .inner{
          .cont-text{
            padding-left: 0;
          }
        }
      }
    }
  }
  .space-wrap{
    .space-box{
      max-width: 300px;
    }
  }
}
