@charset "UTF-8";
$maincolor: #15c5aa;
$fontLight: 'GmarketSansLight';
$fontMid: 'GmarketSansMedium';

@import "dropdown.scss";
@import "main.scss";
@import "footer.scss";
@import "subpage.scss";
@import "tab.scss";
@import "loading.scss";
@import "guide.scss";
@import "space.scss";
@import "media.scss";
